Repository TDesignOteam/tdesign-mobile-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,tx,tsx,sass,less,css}": "prettier --write"
}

feat: 添加高亮组件
  example/src/config.json
  src/components/Highlight/Highlight.md
  src/components/Highlight/Highlight.tsx
  src/components/Highlight/_example/index.tsx
  src/components/Highlight/index.ts
  src/components/Highlight/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

fix: remove console
  src/components/Highlight/Highlight.tsx
Due: eslint --cache --fix, prettier --write

feat: example样式调整
  example/src/components/Element.tsx
Due: eslint --cache --fix, prettier --write

feat: 组件demo样式调整
  src/components/Highlight/_example/index.tsx
Due: eslint --cache --fix, prettier --write

feat: 抽离一些公共部分
  src/components/Button/Button.tsx
  src/components/Highlight/types.ts
  src/components/common.ts
Due: eslint --cache --fix, prettier --write

feat: 优化text 占位的判断
  src/components/Base/WrapperComponent.tsx
Due: eslint --cache --fix, prettier --write

feat: 添加badge组件
  example/src/config.json
  src/components/Badge/Badge.md
  src/components/Badge/Badge.tsx
  src/components/Badge/_example/index.tsx
  src/components/Badge/index.tsx
  src/components/Badge/types.ts
  src/components/index.ts
  src/theme/common/classnames.ts
Due: eslint --cache --fix, prettier --write

fix: 路径错误
  site/web/Demo.jsx
Due: eslint --cache --fix

fix(Badge): 统一类型定义
  src/components/Badge/Badge.tsx
  src/components/Badge/_example/index.tsx
  src/components/Badge/types.ts
Due: eslint --cache --fix, prettier --write

fix: 修改类型命名
  src/components/Button/types.ts
  src/components/common.ts
Due: eslint --cache --fix

feat: 添加tag组件
  example/src/config.json
  src/components/Tag/Tag.md
  src/components/Tag/Tag.tsx
  src/components/Tag/_example/index.tsx
  src/components/Tag/index.tsx
  src/components/Tag/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

fix(theme): 修复样式不对
  example/src/App.tsx
  src/theme/dark/colors.ts
Due: eslint --cache --fix, prettier --write

fix: 移除站点中移动页面的路由（已独立出来了
  site/web/App.jsx
  site/web/Demo.jsx
Due: eslint --cache --fix

fix(Tag): example 错误
  src/components/Tag/_example/index.tsx
Due: eslint --cache --fix, prettier --write

chore: fix warning
  site/vite.config.js
Due: eslint --cache --fix, prettier --write

feat: 添加collapse组件
  example/src/config.json
  src/_utils/use-toggle.ts
  src/components/Collapse/Collapse.md
  src/components/Collapse/Collapse.tsx
  src/components/Collapse/_example/index.tsx
  src/components/Collapse/index.ts
  src/components/Collapse/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

feat: 添加动画容器组件
  .vscode/settings.json
  example/src/config.json
  example/tsconfig.json
  package.json
  site/package.json
  src/components/AnimationView/AnimationView.md
  src/components/AnimationView/AnimationView.tsx
  src/components/AnimationView/_example/index.tsx
  src/components/AnimationView/index.tsx
  src/components/AnimationView/types.ts
  src/components/AnimationView/utils.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

fix: 冗余属性
  src/components/AnimationView/types.ts
Due: eslint --cache --fix

fix: 移除console
  src/components/AnimationView/AnimationView.tsx
Due: eslint --cache --fix, prettier --write

fix: app运行时 sharedvalue 赋值后类型报错
  src/components/AnimationView/AnimationView.tsx
Due: eslint --cache --fix, prettier --write

feat: app运行报错问题
  example/babel.config.js
  example/craco.config.js
  example/ios/Podfile.lock
  example/metro.config.js
  example/package.json
  example/patches/react-native+0.71.3.patch
  example/scripts/alias.js
Due: eslint --cache --fix, prettier --write

feat: popup组件
  example/src/App.tsx
  example/src/config.json
  src/_utils/constants.ts
  src/_utils/constants.web.ts
  src/components/AnimationView/types.ts
  src/components/Popup/Popup.md
  src/components/Popup/Popup.tsx
  src/components/Popup/_example/index.tsx
  src/components/Popup/index.tsx
  src/components/Popup/types.ts
  src/components/Popup/utils.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

fix: remove console
  src/components/Popup/Popup.tsx
Due: eslint --cache --fix, prettier --write

fix: warning
  src/components/AnimationView/AnimationView.tsx
Due: eslint --cache --fix, prettier --write

fix: 主题颜色
  src/components/Button/Button.tsx
Due: eslint --cache --fix, prettier --write

fix: web打包失败
  example/craco.config.js
Due: eslint --cache --fix, prettier --write

fix: 改变引入便于组件单独引入
  src/components/Highlight/Highlight.tsx
  src/components/Popup/Popup.tsx
Due: eslint --cache --fix, prettier --write

feat: 补充popup文档
  src/components/Popup/_example/index.tsx
Due: eslint --cache --fix, prettier --write

feat: 新增message组件
  example/src/config.json
  src/components/Message/Message.md
  src/components/Message/Message.tsx
  src/components/Message/_example/index.tsx
  src/components/Message/index.tsx
  src/components/Message/types.ts
  src/components/Message/utils.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

fix: 类型定义
  src/components/Popup/types.ts
Due: eslint --cache --fix

fix: 移除多余文件
  src/components/Message/utils.ts
Due: eslint --cache --fix

fix: 命名错误
  src/components/Message/Message.tsx
  src/components/Message/types.ts
Due: eslint --cache --fix, prettier --write

feat: tdesign-icons改为npm引入
  example/metro.config.js
  example/scripts/alias.js
  example/tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: 统一类型
  src/components/Button/Button.tsx
  src/components/Button/_example/index.tsx
  src/components/Button/types.ts
  src/components/common.ts
Due: eslint --cache --fix, prettier --write

feat: tdesign-icons改为npm引入
  package.json
Due: none

feat: 统一类型
  src/components/Tag/Tag.tsx
  src/components/Tag/types.ts
Due: eslint --cache --fix, prettier --write

feat: 新增loading组件
  src/components/Loading/Loading.md
  src/components/Loading/Loading.tsx
  src/components/Loading/_example/index.tsx
  src/components/Loading/index.tsx
  src/components/Loading/loading-white.png
  src/components/Loading/loading.png
  src/components/Loading/types.ts
Due: eslint --cache --fix, prettier --write

feat: 新增toast组件
  example/src/config.json
  src/components/Toast/Toast.md
  src/components/Toast/Toast.tsx
  src/components/Toast/_example/index.tsx
  src/components/Toast/index.tsx
  src/components/Toast/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

chore: 变更icons版本
  package.json
Due: none

feat: 新增dialog组件
  example/src/config.json
  src/components/Dialog/Dialog.md
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/_example/index.tsx
  src/components/Dialog/index.tsx
  src/components/Dialog/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write
