Repository TDesignOteam/tdesign-mobile-react-native: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore: 补充缺失校验文件
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .vscode/settings.json
Due: none

fix: 补充缺少npm包
  package.json
Due: none

feat(example): example添加路由配置等
  example/craco.config.js
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/base-config.ts
  example/src/components/ListItem.tsx
  example/src/list-config.ts
  src/components/index.ts
  src/theme/ThemeProvider.tsx
Due: eslint --cache --fix, prettier --write

fix: web 异步加载问题&样式与原生不统一
  example/src/App.tsx
Due: eslint --cache --fix, prettier --write

feat: 添加jest运行相关配置
  .babel.config.js
  babel.config.js
  jest-setup.js
  jest.config.js
  package.json
  tsconfig.test.json
Due: eslint --cache --fix, prettier --write

chore: 增加测试覆盖率
  jest.config.js
  package.json
Due: eslint --cache --fix, prettier --write

chore: 默认开启覆盖率
  jest.config.js
  package.json
Due: eslint --cache --fix, prettier --write

chore: 追踪gitigonre
  .gitignore
Due: none

chore: 加入静态资源transform
  jest.config.js
  package.json
Due: eslint --cache --fix, prettier --write

feat: 根据td样式修改主题文件
  src/theme/ThemeProvider.tsx
  src/theme/common/atom.ts
  src/theme/common/classnames.ts
  src/theme/common/dimensions.ts
  src/theme/common/fonts.ts
  src/theme/common/spacers.ts
  src/theme/common/tokens.ts
  src/theme/dark/atom.ts
  src/theme/dark/classnames.ts
  src/theme/dark/colors.ts
  src/theme/dark/tokens.ts
  src/theme/index.ts
  src/theme/light/atom.ts
  src/theme/light/classnames.ts
  src/theme/light/colors.ts
  src/theme/light/tokens.ts
  src/theme/themes.ts
  src/theme/types.ts
Due: eslint --cache --fix, prettier --write

feat: 调整结构 组件引用等
  src/components/Base/WrapperComponent.tsx
  src/components/Button/index.tsx
  src/theme/ThemeContext.ts
  src/theme/dark/classnames.ts
  src/theme/dark/colors.ts
  src/theme/dark/tokens.ts
  src/theme/light/classnames.ts
  src/theme/light/colors.ts
  src/theme/light/tokens.ts
  src/theme/types.ts
Due: eslint --cache --fix, prettier --write

fix: demo可以滚动
  example/src/App.tsx
  example/src/component-list.ts
Due: eslint --cache --fix, prettier --write

feat: 主题可以支持配置
  package.json
  src/components/Base/WrapperComponent.tsx
  src/components/Button/index.tsx
  src/theme/ThemeContext.ts
  src/theme/ThemeProvider.tsx
  src/theme/common/classnames.ts
  src/theme/common/tokens.ts
  src/theme/dark/classnames.ts
  src/theme/dark/tokens.ts
  src/theme/index.ts
  src/theme/light/classnames.ts
  src/theme/light/tokens.ts
  src/theme/themes.ts
  src/theme/types.ts
Due: eslint --cache --fix, prettier --write

test: 测试主题配置
  example/src/App.tsx
Due: eslint --cache --fix, prettier --write

fix: 自定义classname没有生效
  src/theme/themes.ts
Due: eslint --cache --fix

feat: 添加icon 主题&主题文档
  README.md
  example/src/App.tsx
  example/src/Test.tsx
  site/web/site.config.js
  src/components/Button/index.tsx
  src/theme/theme.md
Due: eslint --cache --fix, prettier --write

test: 测试异步主题加载
  example/src/App.tsx
  example/src/components/ListItem.tsx
Due: eslint --cache --fix, prettier --write

fix: 调整间距
  src/theme/common/tokens.ts
Due: eslint --cache --fix

refactor: 按钮组件
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Button/types.ts
  src/components/common.ts
Due: eslint --cache --fix, prettier --write

feat: 兼容codespace中直接写jsx结构 不能转换的问题
  site/plugin-rn-to-md/index.js
Due: eslint --cache --fix, prettier --write

feat: 添加shape属性
  src/components/Button/Button.tsx
  src/components/Button/types.ts
Due: eslint --cache --fix, prettier --write

docs: 完善文档
  example/src/App.tsx
  example/src/components/CodeSpace.tsx
  example/src/components/Element.tsx
  example/src/components/Section.tsx
  src/components/Button/_example/index.tsx
Due: eslint --cache --fix, prettier --write

fix: remove console
  site/plugin-rn-to-md/index.js
Due: eslint --cache --fix, prettier --write

feat: 移除多余文件
  src/components/Button/_example/base.tsx
  src/components/Button/_example/index.tsx
  src/components/Button/index.demo.tsx
Due: eslint --cache --fix, prettier --write

feat: 优化site dev时获取example
  example/.env
  site/package.json
  site/plugin-tdoc/md-to-react.js
Due: eslint --cache --fix, prettier --write

feat: 配置example路由，使文档和example匹配
  example/src/App.tsx
  example/src/component-list.ts
  site/plugin-tdoc/md-to-react.js
  site/web/site.config.js
Due: eslint --cache --fix, prettier --write

fix: 改为大写md文件 用于匹配路径
  src/components/Button/button.md
Due: none

feat: 文档 路径匹配
  example/src/component-list.ts
  site/web/site.config.js
  src/components/Button/Button.md
Due: eslint --cache --fix, prettier --write

feat: 支持ts编译&添加组件
  example/src/components/CodeSpace.tsx
  example/src/components/index.ts
  site/plugin-rn-to-md/index.js
Due: eslint --cache --fix, prettier --write

feat: 添加主题
  src/theme/common/classnames.ts
  src/theme/dark/classnames.ts
  src/theme/light/classnames.ts
Due: eslint --cache --fix

fix: 站点路径
  example/src/App.tsx
Due: eslint --cache --fix, prettier --write

feat: 添加运行命令
  site/package.json
Due: none

feat: 添加base demo
  src/components/Base/Base.md
  src/components/Base/WrapperComponent.tsx
  src/components/Base/_example/index.tsx
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

feat: 添加 touchable组件
  src/components/Touchable/Touchable.tsx
  src/components/Touchable/TouchableHighlight.tsx
  src/components/Touchable/TouchableOpacity.tsx
  src/components/Touchable/index.tsx
  src/components/Touchable/types.ts
  src/components/index.ts
Due: eslint --cache --fix, prettier --write

feat: rn不能import表达式，改为运行npm前生成js文件 用于路由引用
  .gitignore
  example/package.json
  example/scripts/gen-router.js
  example/src/App.tsx
  example/src/component-list.ts
  example/src/config.json
  site/web/site.config.js
Due: eslint --cache --fix, prettier --write

fix: warning
  site/plugin-rn-to-md/index.js
Due: eslint --cache --fix, prettier --write

feat: 移除不必要文件
  src/components/Base/index.demo.tsx
Due: eslint --cache --fix, prettier --write

feat: 引用方式变更
  src/components/Button/index.tsx
Due: eslint --cache --fix, prettier --write

feat: 添加touchable demo
  example/src/config.json
  src/components/Touchable/Touchable.md
  src/components/Touchable/_example/index.tsx
  src/components/Touchable/index.demo.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,tx,tsx,sass,less,css}
